<%= form_with(model: prescription) do |form| %>
  <% if prescription.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
        <% prescription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :patient_id, style: "display: block" %>
    <%= form.text_field :patient_id %>
  </div>

  <div>
    <%= form.label :doctor_id, style: "display: block" %>
    <%= form.text_field :doctor_id %>
  </div>

  <div>
    <%= form.label :issued_at, style: "display: block" %>
    <%= form.datetime_field :issued_at %>
  </div>

  <div>
    <%= form.label :expires_at, style: "display: block" %>
    <%= form.datetime_field :expires_at %>
  </div>

  <div>
    <%= form.label :qr_token, style: "display: block" %>
    <%= form.text_field :qr_token %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
