<div id="<%= dom_id prescription %>">
  <p>
    <strong>Patient:</strong>
    <%= prescription.patient_id %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= prescription.doctor_id %>
  </p>

  <p>
    <strong>Issued at:</strong>
    <%= prescription.issued_at %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= prescription.expires_at %>
  </p>

  <p>
    <strong>Qr token:</strong>
    <%= prescription.qr_token %>
  </p>

</div>
