<p style="color: green"><%= notice %></p>

<h1>処方箋一覧</h1>

<table border="1" cellpadding="6" cellspacing="0">
  <thead>
    <tr>
      <th>患者</th>
      <th>医師</th>
      <th>発行日</th>
      <th>有効期限</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.patient&.name %></td>
        <td><%= prescription.doctor&.name %></td>
        <td><%= prescription.issued_at.strftime("%Y-%m-%d") if prescription.issued_at %></td>
        <td><%= prescription.expires_at.strftime("%Y-%m-%d") if prescription.expires_at %></td>
        <td>
          <%= link_to "詳細", prescription %> |
          <%= link_to "編集", edit_prescription_path(prescription) %> 
          <%= button_to "削除", prescription, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "新しい処方箋を作成", new_prescription_path %> |
<%= link_to "医師トップページへ戻る", doctor_home_path %>








