<h1>処方箋QRコード作成</h1>

<%= form_with url: qrcode_search_prescriptions_path, method: :get, local: true do %>
  <div>
    <%= label_tag :q, "患者名またはユーザー番号で検索" %><br>
    <%= text_field_tag :q, params[:q], placeholder: "例: 山田太郎 または 12345", class: "search-input" %>
    <%= submit_tag "検索", class: "btn btn-primary" %>
  </div>
<% end %>

<hr>

<% own_prescriptions = @prescriptions.select { |p| p.doctor_id == current_user.id } %>

<% if own_prescriptions.any? %>
  <h2>検索結果</h2>
  <table class="prescriptions-table">
    <thead>
      <tr>
        <th>患者</th>
        <th>ユーザー番号</th>
        <th>医師</th>
        <th>発行日</th>
        <th>処方箋確認</th>
        <th>QRコード作成</th>
      </tr>
    </thead>
    <tbody>
      <% own_prescriptions.each do |prescription| %>
        <tr>
          <td><%= prescription.patient_name %></td>
          <td><%= prescription.patient_number %></td>
          <td><%= prescription.doctor&.name %></td>
          <td><%= prescription.issued_at.strftime("%Y-%m-%d") if prescription.issued_at %></td>
          <td>
            <%= link_to "処方箋を確認する", prescription_path(prescription), class: "btn btn-secondary" %>
          </td>
          <td>
            <%= button_to "この処方箋のQRコードを作成する",
                          qrcode_generate_prescriptions_path(prescription_id: prescription.id),
                          method: :post,
                          class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif params[:q].present? %>
  <p>検索結果が見つかりませんでした。</p>
<% end %>

<br>
<%= link_to "医師トップページへ戻る", doctor_home_path %>







