<h1>QRコード</h1>

<p>処方箋: <%= @prescription.id %></p>
<p>患者: <%= @prescription.patient.name %></p>
<p>医師: <%= @prescription.doctor.name %></p>

<div style="margin-top:20px;">
  <%= raw @svg %>
</div>

<hr>
<%= link_to "処方箋一覧に戻る", prescriptions_path %>
