<div id="<%= dom_id medication %>">
  <p>
    <strong>Prescription:</strong>
    <%= medication.prescription_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= medication.name %>
  </p>

  <p>
    <strong>Dosage:</strong>
    <%= medication.dosage %>
  </p>

  <p>
    <strong>Timing:</strong>
    <%= medication.timing %>
  </p>

</div>
