<h1>ようこそ Medication Manager</h1>
<p>ご自身の役割を選んでください</p>

<div class="role-selection">
  <div class="role-box">
    <h2>患者の方はこちらから</h2>
    <%= link_to "新規登録", new_patient_registration_path, class: "btn" %>
    <%= link_to "ログイン", new_patient_session_path, class: "btn" %>
  </div>

  <div class="role-box">
    <h2>医師の方はこちらから</h2>
    <%= link_to "新規登録", new_doctor_registration_path, class: "btn" %>
    <%= link_to "ログイン", new_doctor_session_path, class: "btn" %>
  </div>

  <div class="role-box">
    <h2>薬局の方はこちらから</h2>
    <%= link_to "新規登録", new_pharmacy_registration_path, class: "btn" %>
    <%= link_to "ログイン", new_pharmacy_session_path, class: "btn" %>
  </div>
</div>

