<div class="doctor-home">

  <!-- タイトル -->
  <h1 class="doctor-home__title">
    医師用トップページ
  </h1>

  <!-- 挨拶 -->
  <p class="doctor-home__greeting">
    <%= current_user.name %> さん、ようこそ！
  </p>

  <!-- 横並びカードメニュー -->
  <div class="doctor-home__menu">

    <%= link_to "🔲 QRコード作成", qrcode_search_prescriptions_path, class: "doctor-home__card doctor-home__card--blue" %>

    <%= link_to "📝 処方箋作成", new_prescription_path, class: "doctor-home__card doctor-home__card--gray" %>

    <%= link_to "📋 処方箋一覧", prescriptions_path, class: "doctor-home__card doctor-home__card--orange" %>

    <%= link_to "💊 薬の登録", new_medication_path, class: "doctor-home__card doctor-home__card--green" %>

    <%= link_to "📑 薬一覧", medications_path, class: "doctor-home__card doctor-home__card--red" %>

  </div>
</div>



