<!DOCTYPE html>
<html>
  <head>
    <title>Medication Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "layout", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="navbar">
      <div class="container">
        <h1 class="logo">
          <% if user_signed_in? %>
            <% if current_user.patient? %>
              <%= link_to "💊 Medication Manager", patient_home_path, class: "logo-link" %>
            <% elsif current_user.doctor? %>
              <%= link_to "💊 Medication Manager", doctor_home_path, class: "logo-link" %>
            <% elsif current_user.pharmacy? %>
              <%= link_to "💊 Medication Manager", pharmacy_home_path, class: "logo-link" %>
            <% end %>
          <% else %>
            <%= link_to "💊 Medication Manager", unauthenticated_root_path, class: "logo-link" %>
          <% end %>
        </h1>

        <ul class="nav-links">
          <% if user_signed_in? %>
            <li>
              <% if current_user.patient? %>
                <span class="user-name">
                  ユーザー番号: <%= current_user.patient_number %> |
                  お名前: <%= current_user.name %> さん
                </span>
                <%= link_to "ログアウト", destroy_patient_session_path,
                            method: :delete, data: { confirm: "ログアウトしますか？" } %>
              <% elsif current_user.doctor? %>
                <span class="user-name">
                  <%= current_user.hospital_name %> ：<%= current_user.name %>先生
                </span>
                <%= link_to "ログアウト", destroy_doctor_session_path,
                            method: :delete, data: { confirm: "ログアウトしますか？" } %>
              <% elsif current_user.pharmacy? %>
                <span class="user-name"><%= current_user.name %></span>
                <%= link_to "ログアウト", destroy_pharmacy_session_path,
                            method: :delete, data: { confirm: "ログアウトしますか？" } %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>

    <div class="container">
      <% if notice %>
        <p class="alert notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>















